<template>
<header class="avenir vh-100 w-100 bg-green">
  <div style="background:url(http://mrmrs.io/photos/display.jpg)" class="w-100 h-100 bg-center cover flex flex-column">
    <h1 class="f2 mv0 pv3 tc white-90">Name Our Baby</h1>
    <form class="tc flex flex-column ph4" @submit.prevent="onSubmit">
      <input class="input-reset ba br-0 bl-0 bt-0 bg-transparent pa2 f4 mt2" type="text" placeholder="First name" v-model="firstname">
      <input class="input-reset ba br-0 bl-0 bt-0 bg-transparent pa2 f4 mt2" type="text" placeholder="Second name" v-model="secondname">
      <span class="f2 fw6 mt3">PAÑARES</span>
      <input class="b pa2 mt4 input-reset ba b--black bg-transparent grow pointer f4" type="submit" name="submit" value="Submit">
    </form>
  </div>
</header>
</template>

<script>
import Hello from './components/Hello';

export default {
  name: 'app',
  components: {
    Hello,
  },
  data() {
    return {
      firstname: '',
      secondname: '',
    };
  },
  methods: {
    onSubmit() {
      console.log(`${this.firstname} ${this.secondname}`);
    },
  },
};
</script>

<style scoped>
input {
  outline: none;
}
</style>
